<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar Sesion</title>
</head>
<body>
    <h1>Inicio de Sesion</h1>
    <form id="formLogin">
        <label for="">Nombre</label>
        <input autocomplete="false" type="text" name="" id="name" autofocus><br>
        <select id="rol">
            <option value="Estudiante">Estudiante</option>
            <option value="Catedrático">Catedrático</option>
        </select><br>
        <button>Iniciar Sesion</button>
    </form>

    <div id="info"></div>

    <script type="module" src="../events/Events.js"></script>
</body>
</html>
